<!--<mat-card class="example-card">-->
<!--  <mat-card-header>-->
<!--    <div mat-card-avatar></div>-->
<!--    <mat-card-title>Iphone X</mat-card-title>-->
<!--  </mat-card-header>-->
<!--  <img mat-card-image src="assets/images/basic.png" />-->

<!--  <mat-card-actions>-->
<!--    <button mat-raised-button color="primary" (click)="pay()">-->
<!--      Buy it for $999-->
<!--    </button>-->
<!--  </mat-card-actions>-->
<!--</mat-card>-->
<!--&lt;!&ndash; job-offer-package-card.component.html &ndash;&gt;-->

<div class="job-offer-cards-container">
  <div class="job-offer-card">
    <img src="./assets/images/basic.png" alt="Package Image">
    <div class="card-content">
      <h3>Basic Package</h3>
      <p>10 job offers - 500 Dhs</p>
      <p>Publish up to 10 job offers with the Basic Package.</p>
      <button (click)="pay()">Purchase</button>
    </div>
  </div>

  <div class="job-offer-card">
    <img src="./assets/images/ilimite.png" alt="Package Image">
    <div class="card-content">
      <h3>Premium Package</h3>
      <p>Unlimited job offers - 790 Dhs</p>
      <p>Publish unlimited job offers with the Premium Package.</p>
      <button (click)="pay()">Purchase</button>
    </div>
  </div>

</div>
