
<div class="job-offer-cards-container">
    <div class="job-offer-card">
        <img src="./assets/images/basic.png" alt="Package Image">
        <div class="card-content">
            <h3>Basic Package</h3>
            <p>10 job offers - 500 Dhs</p>
            <p>Publish up to 10 job offers with the Basic Package.</p>
            <button (click)="pay()">Purchase</button>
        </div>
    </div>

    <div class="job-offer-card">
        <img src="./assets/images/ilimite.png" alt="Package Image">
        <div class="card-content">
            <h3>Premium Package</h3>
            <p>Unlimited job offers - 790 Dhs</p>
            <p>Publish unlimited job offers with the Premium Package.</p>
            <button (click)="pay()">Purchase</button>
        </div>
    </div>

</div>
