
<!--<div class="job-offer-cards-container flex justify-center space-x-6">-->
<!--  <div class="job-offer-card">-->
<!--    <img src="./assets/images/basic.png" alt="Package Image">-->
<!--    <div class="card-content">-->
<!--      <h3>Basic Package</h3>-->
<!--      <p>10 job offers - 500 Dhs</p>-->
<!--      <p>Publish up to 10 job offers with the Basic Package.</p>-->
<!--&lt;!&ndash;      <button (click)="checkoutBasic()">Purchase</button>&ndash;&gt;-->
<!--      <a href="https://buy.stripe.com/test_14k5lH9d8bB37q8bIJ" class="btn btn-primary">Purchase</a>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="job-offer-card">-->
<!--    <img src="./assets/images/ilimite.png" alt="Package Image">-->
<!--    <div class="card-content">-->
<!--      <h3>Premium Package</h3>-->
<!--      <p>Unlimited job offers - 790 Dhs</p>-->
<!--      <p>Publish unlimited job offers with the Premium Package.</p>-->
<!--&lt;!&ndash;      <button (click)="checkoutPremium()">Purchase</button>&ndash;&gt;-->
<!--      <a href="https://buy.stripe.com/test_14kcO975034x11KcMM" class="btn btn-primary">Purchase</a>-->
<!--    </div>-->
<!--  </div>-->
<!--&lt;!&ndash;  <a href="https://buy.stripe.com/test_14kcO975034x11KcMM">test</a>&ndash;&gt;-->

<!--</div>-->
<div class="grid grid-cols-1 px-3 py-5 md:grid-cols-2 gap-6 justify-center">
  <!-- Card 1 -->
  <div class="bg-white shadow-md rounded-lg w-80">
    <img src="./assets/images/basic.png" alt="Package Image" class="w-full h-30 object-cover rounded-t-lg">
    <div class="p-4">
      <h3 class="text-lg font-semibold text-gray-800">Basic Package</h3>
      <p class="text-gray-600">10 job offers - 500 Dhs</p>
      <p class="text-gray-700">Publish up to 10 job offers with the Basic Package.</p>
      <a href="https://buy.stripe.com/test_14k5lH9d8bB37q8bIJ" class="mt-2 inline-block px-3 py-1 bg-blue-500 text-white rounded hover:bg-blue-600">Purchase</a>
    </div>
  </div>

  <!-- Card 2 -->
  <div class="bg-white shadow-md rounded-lg w-80">
    <img src="./assets/images/ilimite.png" alt="Package Image" class="w-full h-30 object-cover rounded-t-lg">
    <div class="p-4">
      <h3 class="text-lg font-semibold text-gray-800">Premium Package</h3>
      <p class="text-gray-600">Unlimited job offers - 790 Dhs</p>
      <p class="text-gray-700">Publish unlimited job offers with the Premium Package.</p>
      <a href="https://buy.stripe.com/test_14kcO975034x11KcMM" class="mt-2 inline-block px-3 py-1 bg-blue-500 text-white rounded hover:bg-blue-600">Purchase</a>
    </div>
  </div>
</div>
